# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# EnergyPlus outputs
energyplus/current_run/
output/

# Database (optional)
*.db
*.sqlite

# Logs
*.log

# Backup files
*.bak
*.bak2

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db